
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  font-family: "Roboto", sans-serif;
}

img{
  height:100%;
  width:250px;
  padding:0px;
  margin:0px;
}

.test{
  width:300px;
  border-right:solid;
  border-width:0.5px;
  
}
table{
  height:250px;
  width:750px;
  
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Change to space-between */
  align-items: left;
  
  height: 100%; /* Ensure the article takes up full height */
}

ul > li {
  text-align:left;
  display: flex;
  flex-direction: column;
}

.boite_informations {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 30px;
  border-radius: 30px;
}

.nom-class {
  font-size: 25pt;
  color: #565656;
}

.titre-class {
  font-size: 20pt;
  color: #565656;
}

.titre2-class {
  font-size: 20pt;
  color: #565656;
}
